{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Accueil
{% endblock %}

{% block body %}
    <h1>Accueil</h1>

    <table>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut.format('d-m-Y') }}</td>
                <td>{{ sortie.dateLimiteInscription.format('d-m-Y') }}</td>
                <td>countParticipant / {{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td>Inscrit</td>
                <td>{{ sortie.organisateur.nom }}</td>
                <td>Action</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}