<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sortir !{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/favicon.png') }}">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    </head>
    <body>
    <div class="container">
    <header>
        <h1><a href="{{ path('main_home') }}"><img src="{{ asset('img/logo.png') }}" alt="Sorties !"></a></h1>
        {% include('inc/nav.html.twig') %}
        <h1>Sortir.com</h1>

    </header>
        {% block body %}{% endblock %}
    </div>
    </body>
</html>
